h1{
text-align: center;
text-decoration: underline;
font-family: serif;
}

h3{
  text-align: center;
}

p{
text-align: center;
width: 50%;
margin-left: 25%;
border: 1px solid black;
padding: 10px;
background-color: #FFB6C1;
}
